# Importações

In [67]:
import pandas as pd
import xlrd
import os

# Conversão

In [68]:
df = pd.read_excel("importacao.xls")

In [69]:
# Altera o tipo de dado da coluna EAN para int e depois string
df['EAN'] = df['EAN'].astype(pd.Int64Dtype())
df['EAN'] = df['EAN'].astype(str)

In [70]:
df.head()

             EAN        Produto  Valor
0  6676175297864  Ibuprostatina  19.99
1  5389258331996  Parafloxacino   1.10
2  2619176497527       Levotina  37.90
3  2816171384758   Claristatina   8.29
4  1946749804919     Omestatina   7.79

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   EAN      940 non-null    object
 1   Produto  940 non-null    object
 2   Valor    940 non-null    float64
dtypes: float64(1), object(2)
memory usage: 22.2+ KB

In [72]:
# Altera o tipo de dado da coluna Valor para string e altera o separador de ponto para vírgula
df['Valor'] = df['Valor'].apply(lambda x: str(x).replace('.', ','))

# Verificação dos novos tipos de dados da tabela após alterar a coluna Valor.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   EAN      940 non-null    object
 1   Produto  940 non-null    object
 2   Valor    940 non-null    object
dtypes: object(3)
memory usage: 22.2+ KB

In [73]:
def gerar_arquivo():
    """
    Gera um arquivo txt com os dados da tabela modificadas do pandas.
    """
    if not os.path.exists('./resultado'):
        os.makedirs('./resultado')
        
    with open('./resultado/importacao_txt.txt', 'w') as f:
        for row in range(len(df)):
            for column in df.columns:
                if column == 'Valor':
                    f.write(f"{df[column][row]}")
                else:
                    f.write(f"{df[column][row]} ; ")

            f.write('\n')

gerar_arquivo()